.blue{
    color: #fff;
    background-color: rgb(89, 52, 224);
    height: 40px;
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
    border: none;
    width: 250px;
}

.normal{
    color: black;
    background-color: #4b111121;
    height: 40px;
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
    border: none;
    width: 250px;
}